{% extends 'ahabanza.html' %}
{% block contentfluid %}
<style>
 
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
  
   input{
    width: 40%;

   }
   #subtitle{
    width: 60%;

   }
    textarea {
      width: 60%;
      height: 150px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    button[type="submit"], button {
      padding: 10px 15px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    button[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Adding University Images</h1>
    <a href="/viewuni"><button>View The added universities</button></a>
 
</div>
<div>
    
    <p style="align-items: center; text-align: center; color: black;">This is a page for adding different pictures of parteners universities</p>
    <form action="/uniadd" method="POST" enctype="multipart/form-data">
        <label for="document">Add University Image:</label>
        <input type="file" id="myimage" name="myimage" accept=".png,.jpg,.jpeg"/>
        <label for="title">Image description:</label>
        <input type="text" id="name" name="name" required>
        <br></br>

        <button type="submit">Add Image</button>
        <br></br>
      </form>
     
      
</div>
{% endblock %}
