{% extends 'ahabanza.html' %}
{% block contentfluid %}
<style>
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
  
   input{
    width: 40%;

   }
   #subtitle{
    width: 60%;

   }
    textarea {
      width: 60%;
      height: 150px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }
  
    /* Style the button */
    button[type="submit"], button {
      padding: 10px 15px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    button[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Admissions </h1>
    <a href="/viewadmissions"><button>View The added Admissions</button></a>

   
</div>

<!-- Content -->
<div>
    <img src="{{ url_for('static', filename='images/banner/study.jpg')}}" style="height: 60%; width:100%">
    <h1 style="align-items: center; text-align: center; color: black;">Admissions</h1>
    <p style="align-items: center; text-align: center; color: black;">This is a page for adding admission related content</p>
    <form action="/admissionadd" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <label for="subtitle">Subtitle:</label>
        <input type="text" id="subtitle" name="subtitle" required>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
        <label for="document">Add image here:</label>
        <input type="file" id="myimage" name="image" accept=".png,.jpg,.jpeg"/>
        <br></br>
        
        <button type="submit">Add Admission</button>
        <br></br>
      </form>
     
      
</div>
{% endblock %}
