{% extends 'ahabanza.html' %}
{% block contentfluid %}
<style>
 
    img{
      width: 100%;
    }
    .course-item {
    height: 350px; 
    overflow: auto; 
  }
  
  .course-item .position-relative {
    height: 200px; 
  }
  
  .course-item .text-start,
  .course-item .text-start {
    height: calc(100% - 200px); 
    padding: 20px; 
  }
  
  .course-item h3 {
    margin-bottom: 10px; 
  }
  
  .course-item p {
    margin-bottom: 10px; 
  }
  
  .course-item .d-flex {
    padding: 10px; 
  }
  
  </style>
  <body>
  <section class="page-title-section overlay" data-background="{{ url_for('static', filename='images/backgrounds/page-title.jpg')}}">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb mb-2">
            <li class="list-inline-item">
              <a class="h2 text-primary font-secondary" >
                Admin Profile</a>
              </li>
          </ul>
          <p class="text-lighten mb-0">Your Email Address is: admin@gmail.com</p>
        </div>
      </div>
    </div>
  </section>
  
 
  
  </body>
{% endblock %}
