{% extends "ahabanza.html" %}
{% block contentfluid %}
<style>
  /* Center the form */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  /* Increase input and textarea size */
 input{
  width: 40%;

 }
 #subtitle{
  width: 60%;

 }
  textarea {
    width: 60%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  /* Style the button */
  button[type="submit"], button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }
</style>

    <h1>Update Scholarship Post</h1>
    <hr>
    
        <form action="/edit/scholarship/{{id}}" method="POST" enctype="multipart/form-data">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" value="{{post.title}}">
          <label for="description">Description:</label>
          <textarea id="description" name="description" value="{{post.description}}"></textarea>
          <br></br>
          
          <button type="submit">Edit Scholarship</button>
          <br></br>
        </form>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Set the value of the textarea using jQuery
  $(document).ready(function() {
    $('#description').val('{{post.description}}');
  });
</script>
       
       
    

{% endblock %}