{% extends 'ahabanza.html' %}
{% block contentfluid %}
<style>
 
    img{
      width: 100%;
    }
    .course-item {
    height: 350px; 
    overflow: auto; 
  }
  
  .course-item .position-relative {
    height: 200px; 
  }
  
  .course-item .text-start,
  .course-item .text-start {
    height: calc(100% - 200px); 
    padding: 20px; 
  }
  
  .course-item h3 {
    margin-bottom: 10px; 
  }
  
  .course-item p {
    margin-bottom: 10px; 
  }
  
  .course-item .d-flex {
    padding: 10px; 
  }
  
  </style>
  <body>
  <section class="page-title-section overlay" data-background="{{ url_for('static', filename='images/backgrounds/page-title.jpg')}}">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb mb-2">
            <li class="list-inline-item">
              <a class="h2 text-primary font-secondary" >
                Available Scholarships</a>
              </li>
  
          </ul>
          <p class="text-lighten mb-0">On this page we be updating you some of available scholarships and upcoming scholarship for you to be able to apply on different universities</p>
        </div>
      </div>
    </div>
  </section>
  
  
  <div class="row" style=" margin-top: 2%;">
    {% for scholarships in scholarships %}
    <div class="col-md-4" style="margin-bottom: 5%;">
      <div class="card h-100">
        <div class="card-body">
          <div class="course-item bg-light">
            
            <div class="text-start p-4 pb-0"> 
                <h3 class="mb-0">{{ scholarships.title }}</h3>          
                <p class="mb-4">{{ scholarships.description }}</p>
                <button class="btn btn-primary btn-sm"onclick="" style="margin-bottom: 2%; border-radius: 5px;"><a href="/edit/scholarship/{{scholarships.id}}" style="color: white; text-decoration: none;">Update</button></a>
                <button class="btn btn-primary btn-sm"onclick="" style="border-radius: 5px;"><a href="/delete/scholarship/{{scholarships.id}}" style="color: white; text-decoration: none;">Delete/Remove</a></button>
            </div>
           
        </div>
         
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  </body>
{% endblock %}
